*
{
    margin: 0;
    padding: 0;
}

#sizeCodoACodo
{
    width: 10%;
}

#menuCabecera
{
    background-color: lightgrey;
    height: 3em;
    align-items: center;
}

#menuCabecera > p
{
    text-align: end;
    align-content: center;
}

.cuerpo
{
    margin-left: 15%;
    align-items: center;
    width: 70%;
}

#logohtml
{
    width: 8%;
    padding: 10px;
    margin-left: 30px;
}

#logocss
{
    width: 10%;
}

#footer
{
    background-color: lightgray;
}

#footer > p
{
    text-align: center;
}