*
{
    margin: 0;
    padding: 0;
}

#btnCompraTickets
{
    color: #25a342;
}

.navbar-brand img{
    max-width: 10rem;
}

.carousel-item
{
    /* opacity: .6; */
    filter: brightness(60%);
}
